In [1]:
from brand_score import BrandScore

In [2]:
brand_score = BrandScore()

ChromeDriverManager is installed.

In [3]:
brand_score.join_site()

In [4]:
brand_score.search_with_title('마이데이터')

해당 검색 결과 12개의 브랜드평판지수 결과가 존재합니다. >
[브랜드평판] 금융 마이데이터 브랜드 2023년 12월 빅데이터 분석결과...1위 신한은행 마이데이터, 2위 KB국민은행 마이데이터, 3위 현대카드 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 11월 빅데이터 분석결과...1위 신한카드 마이데이터, 2위 미래에셋증권 마이데이터, 3위 KB국민은행 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 10월 빅데이터 분석결과...1위 신한카드 마이데이터, 2위 우리은행 마이데이터, 3위 미래에셋증권 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 9월 빅데이터 분석결과... 1위 신한카드 마이데이터, 2위 우리은행 마이데이터, 3위 현대카드 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 8월 빅데이터 분석결과...1위 신한카드 마이데이터, 2위 우리은행 마이데이터, 3위 KB국민은행 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 7월 빅데이터 분석결과...1위 신한카드 마이데이터, 2위 현대카드 마이데이터, 3위 우리은행 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 6월 빅데이터 분석결과...1위 신한카드 마이데이터, 2위 현대카드 마이데이터, 3위 KB국민은행 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 5월 빅데이터 분석결과...1위 신한카드 마이데이터, 2위 KB국민은행 마이데이터, 3위 우리은행 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 4월 빅데이터 분석결과...1위 신한카드 마이데이터, 2위 현대카드 마이데이터, 3위 우리은행 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 3월 빅데이터 분석결과...1위 현대카드 마이데이터, 2위 신한은행 마이데이터, 3위 우리은행 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 2월 빅데이터 분석결과...1위 신한카드 마이데이터, 2위 우리은행 마이데이터, 3위 현대카드 마이데이터
[브랜드평판] 금융 마이데이터 브랜드 2023년 1월 빅데이터 분석결과...1위 KB국민은행, 2위 신한은행, 3위 우리은행
extract_df_with_idx(idx) method 를 이용해 월별 데이터를 추출하세요.

In [5]:
df = brand_score.extract_df_with_idx(0)

데이터 추출을 시작합니다. 창이 원래대로 돌아올 때 까지 기다려주세요....
https://brikorea.com/bbs/board.php?bo_table=rep_1&wr_id=3116로 사이트 이동
추출 완료

In [6]:
df.head(10)

  금융 업계 이름    참여지수   미디어지수    소통지수   커뮤니티지수  브랜드평판지수
0     신한은행  393804  828431  805578   805238  2833052
1   KB국민은행  676868  608854  623214   664454  2573391
2     현대카드  294918  353399  490866  1142152  2281335
3   KB국민카드  278836  610820  695173   661164  2245992
4     하나은행  354864  593470  440324   796279  2184937
5     신한카드  443511  375888  538814   350161  1708373
6     롯데카드  179467  242645  305803   816531  1544446
7     하나카드  162027  188237  246049   487132  1083446
8   미래에셋증권   83369  273882  293835   274594   925680
9  DGB대구은행   77285  281179  204264   242509   805236

In [9]:
import requests
import json

Google_SEARCH_ENGINE_ID = ""  # Search Engine ID 
Google_API_KEY = "" # Custom Search Engine API KEY 
query = f"{df['금융 업계 이름'][0]} 마이데이터"  # 검색할 쿼리
start_page = 1 # 몇 페이지를 검색할 것인지. 한 페이지 당 10개의 게시물을 받아들일 수 있습니다.

In [10]:

url = f"https://www.googleapis.com/customsearch/v1?key={Google_API_KEY}&cx={Google_SEARCH_ENGINE_ID}&q={query}"
re = requests.get(url)

In [11]:
import pandas as pd

In [12]:
data = json.loads(re.text)
columns = ['제목', '요약', '링크']
contents_dict = {e: [] for e in columns}
for e in data['items']:
    contents_dict['제목'].append(e['title'])
    contents_dict['요약'].append(e['snippet'])
    contents_dict['링크'].append(e['link'])

df2 = pd.DataFrame(contents_dict, columns=columns)

In [13]:
df2

,제목,요약,링크
0,마이데이터 소개,"[KISDI 영상보고서] 마이데이터, 개인이 데이터 유통을 주도한다?! (출처 .....",https://openapi.shinhan.com/mydata/info
1,"마이 데이터 '후끈', 신한은행 독주 속 덩치 키우는 은행권 - 뉴스핌","Aug 16, 2023 ... KB국민은행은 마이데이터 신용관리 서비스에 고객 신용...",https://www.newspim.com/news/view/20230816000402
2,"“새는 돈 잡아라” 마이데이터, '절약 전략' 대신 짜드립니다 - 브라보 ...","Feb 15, 2023 ... 신한은행의 마이데이터 서비스 '머니버스'를 운영하는 ...",https://bravo.etoday.co.kr/view/atc_view/14311
3,"'大 마이데이터' 시대, 금융권 신한 '나홀로' 독주","Aug 22, 2023 ... 신한은행·카드 각 업권별 유일 '민간 데이터 전문기관...",https://www.kukinews.com/newsView/kuk202308210230
4,"신한은행 마이데이터, 수수료 수입보다 고객 편익 최우선","Aug 3, 2023 ... 신한금융 그룹차원에서는 은행 뿐만 아니라 증권, 보험 ...",https://www.newstomato.com/ReadNews.aspx?no=11...
5,"'마이데이터' 시대, 소비자가 선택한 통합자산관리 플랫폼｜동아일보","Jun 28, 2023 ... 신한은행의 마이데이터 서비스 '머니버스(MoneyVe...",https://www.donga.com/news/Economy/article/all...
6,"신한은행, 마이데이터 서비스 '머니버스' 출시 < 1금융 < 금융/증권 ...","Dec 1, 2021 ... [이코노믹리뷰=박창민 기자] 신한은행은 마이데이터 서비...",https://www.econovill.com/news/articleView.htm...
7,신한카드 마이데이터 서비스 가입 안내,"Nov 15, 2023 ... 나의 흩어진 금융 데이터를 한 번에 조회하고 맞춤형 ...",https://www.shinhancard.com/pconts/html/benefi...
8,[인터뷰] 윤근혁 신한은행 마이데이터 유닛 팀장 “금융경험 연결하는 ...,"Sep 26, 2022 ... 윤근혁 팀장은 신한은행의 마이데이터(본인신용정보관리업...",https://www.fntimes.com/html/view.php?ud=20220...
9,신한은행 마이데이터 '머니버스' 리얼리뷰 : 네이버 블로그,"Feb 2, 2022 ... 또 주택 마련, 자동차 구매, 여행 등 목표를 설정할 ...",http://blog.naver.com/wet0405/222637061757